In [144]:
import numpy as np
import pandas as pd

# Carregar Dados

## Dados Educacionais

- Fonte dos dados:

    - investimentos_publicos_privados : https://nces.ed.gov/programs/digest/d14/tables/dt14_605.20.asp
    - restante: http://data.uis.unesco.org/

In [145]:
#Caminho onde estão as pastas com os dados
path='/home/rodolfo/Insync/rodolfopcruz2@gmail.com/Google Drive/Estudo/Python_Projects/education_data/dados/Comparativo/'

In [146]:
mean_year_schooling=pd.read_excel(path+'Mean_Years_Of_Schooling/mean_years.xlsx') #escolaridade média em anos de pessoas acima de 25 anos
investimentos_publicos_privados =pd.read_excel(path+'Public and private direct expenditures on education/public_private_expenditure.xlsx')# investimento publicos e privados diretos em educação
investimento_em_milhoes =pd.read_excel(path+'Government expenditure on education in constant US$/gasto_educacao_ajustado_inflacao.xlsx')#investimento público em educação ajustado pela inflação

In [147]:
#Número total de alunos matriculados

matriculas_primario=pd.read_excel(path+'Enrollment-Number/enrollment-primary-education-number.xlsx') #total de alunos matriculados no ensino primário
matriculas_secundario=pd.read_excel(path+'Enrollment-Number/enrollment-secondary-education-number.xlsx') #total de alunos matriculados no ensino secundário
matriculas_tecnico=pd.read_excel(path+'Enrollment-Number/enrollment-post_secondary-non-terciary-education-number.xlsx') #total de alunos matriculados no ensino técnico
matriculas_universitario=pd.read_excel(path+'Enrollment-Number/enrollment-terciary-education-number.xlsx') #total de alunos matriculados no ensino terciário

In [148]:
#Proporcao de alunos matriculados
proporcao_matriculados_primario=pd.read_excel(path+'Enrollment-Ratio/enrollment-ratio-primary.xlsx') #proporcao de matriculados no ensino primario
proporcao_matriculados_secundario=pd.read_excel(path+'Enrollment-Ratio/enrollment-ratio-upper-secondary.xlsx') #proporcao de matriculados no ensino médio

In [149]:
#Investimentos em educação como proporcao do PIB

investimeto_por_PIB_pre_primario=pd.read_excel(path+'Government expenditure on education as a percentage of GDP/pre-primario.xlsx') #investimento público em ensino pré-primário
investimeto_por_PIB_primario=pd.read_excel(path+'Government expenditure on education as a percentage of GDP/primario.xlsx') #investimento público em ensino primário
investimeto_por_PIB_lower_secondary=pd.read_excel(path+'Government expenditure on education as a percentage of GDP/lower-secondary.xlsx') #investimento público em ensino lower-secondary
investimeto_por_PIB_upper_secondary=pd.read_excel(path+'Government expenditure on education as a percentage of GDP/upper-secondary.xlsx') #investimento público em ensino upper-secondary
investimeto_por_PIB_secondary=pd.read_excel(path+'Government expenditure on education as a percentage of GDP/secondary.xlsx') #investimento público em ensino secondary
investimeto_por_PIB_tecnico=pd.read_excel(path+'Government expenditure on education as a percentage of GDP/post-secondary-non-terciary.xlsx') #investimento público em ensino técnico
investimeto_por_PIB_terciary=pd.read_excel(path+'Government expenditure on education as a percentage of GDP/terciary.xlsx') #investimento público em ensino universitário

In [150]:
#Estudantes estrangerios
#Diferença entre o número de alunos estrangeiros no paíse e o número de alunos do país estudanto fora

entrada_menos_saida_alunos=pd.read_excel(path+'Mobile Students/net-flow-internationally-mobile-students.xlsx') #investimento público em ensino pré-primário

## Rankings

#todo

# Pré-Processamento

In [151]:
#Nos valores provenientes da Unesco nos valores ausentes está a string ".."
#Substituir a string por NAN para permitir operações matemáticas nas colunas

#A função foi criada para evitar problemas com downcasting no uso do replace. PAra maiores informações consultar o link:
#https://medium.com/@felipecaballero/deciphering-the-cryptic-futurewarning-for-fillna-in-pandas-2-01deb4e411a1
def replace_string_nan_unesco(x):
    with pd.option_context('future.no_silent_downcasting', True):
        x.replace('..',np.nan,inplace=True)
    return x

In [152]:
#Escolaridade média (em anos) para pessoas acima de 25 anos
mean_year_schooling=replace_string_nan_unesco(mean_year_schooling)
mean_year_schooling.head()

,Country,2017,2018,2019,2020,2021,2022,2023
0,Estonia,13.55548,13.65631,NaN,13.54843,NaN,NaN,NaN
1,United States of America,13.41329,13.50162,NaN,13.68343,13.5755,13.9142,NaN
2,Lithuania,13.18839,NaN,NaN,13.4981,NaN,NaN,NaN
3,United Kingdom of Great Britain and Northern I...,13.16133,NaN,NaN,13.40612,13.4929,NaN,NaN
4,Norway,12.94716,NaN,13.00363,NaN,NaN,NaN,NaN

In [160]:
mean_year_schooling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  279 non-null    object
 1   2017     63 non-null     object
 2   2018     67 non-null     object
 3   2019     70 non-null     object
 4   2020     56 non-null     object
 5   2021     23 non-null     object
 6   2022     28 non-null     object
 7   2023     1 non-null      object
dtypes: object(8)
memory usage: 17.6+ KB

In [155]:
#Total de alunos matriculados em cada nivel educacinal
#Dados estão em 4 dataframe, um para cada nivel educacional
#Criar um coluna em cada dataframe para permitir a concatenação em um único

matriculas_primario["Nivel de Ensino"]='Primario'
matriculas_secundario['Nivel de Ensino']='Secundario'
matriculas_tecnico['Nivel de Ensino']='Tecnico'
matriculas_universitario['Nivel de Ensino']='Universitario'

numero_matriculados=pd.concat([matriculas_primario,matriculas_secundario,matriculas_tecnico,matriculas_universitario],axis=0)

#Substituir strings nos valores ausentes
numero_matriculados=replace_string_nan_unesco(numero_matriculados)
numero_matriculados.head()

,Country,2017,2018,2019,2020,2021,2022,2023,Nivel de Ensino
0,Afghanistan,6350404,6544906,6777785,NaN,NaN,NaN,NaN,Primario
1,Åland Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primario
2,Albania,174836,170861,167104,162170,158528,154140,NaN,Primario
3,Algeria,4283207,4429994,4580288,4852322,4852322,5050667,5187616,Primario
4,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Primario

In [158]:
#Investimentos publicos e privados diretos em educação

#Nos valores ausentes desse conjunto de dados (o único que não foi baixado do site da Unesco) nos valores ausentes está a string '---'

with pd.option_context('future.no_silent_downcasting', True):
    investimentos_publicos_privados.replace('---',np.nan,inplace=True)