In [1]:
import numpy as np
import pandas as pd

# Carregar Dados

- mean_year_schooling é a escolaridade média (em anos) para a populoção acima de 25 anos;
    - Fonte: http://data.uis.unesco.org/
- public_private_expenditure contem o investimento público e privado em educação como proporção do PIP
     - Fonte: https://nces.ed.gov/programs/digest/d14/tables/dt14_605.20.asp

In [22]:
path='/home/rodolfo/Insync/rodolfopcruz2@gmail.com/Google Drive/Estudo/Python_Projects/education_data/dados/Comparativo/'

#Pasta com os dados
'''
Government expenditure on education as a percentage of GDP'
Government expenditure on education in constant US$'
Mean_Years_Of_Schooling
Public and private direct expenditures on education
'''

mean_year_schooling=pd.read_excel(path+'Mean_Years_Of_Schooling/mean_years.xlsx')
investimentos_publicos_privados =pd.read_excel(path+'Public and private direct expenditures on education/public_private_expenditure.xlsx')
investimento_em_milhoes =pd.read_excel(path+'Government expenditure on education in constant US$/gasto_educacao_ajustado_inflacao.xlsx')

In [14]:
mean_year_schooling

,Country,2017,2018,2019,2020,2021,2022,2023
0,Estonia,13.55548,13.65631,..,13.54843,..,..,..
1,United States of America,13.41329,13.50162,..,13.68343,13.5755,13.9142,..
2,Lithuania,13.18839,..,..,13.4981,..,..,..
3,United Kingdom of Great Britain and Northern I...,13.16133,..,..,13.40612,13.4929,..,..
4,Norway,12.94716,..,13.00363,..,..,..,..
...,...,...,...,...,...,...,...,...
274,Andorra,..,..,..,..,..,11.61344,..
275,American Samoa,..,..,..,..,..,..,..
276,Algeria,..,..,7.02027,..,..,..,..
277,Åland Islands,..,..,..,..,..,..,..
278,Afghanistan,..,..,..,..,2.98507,2.51479,..

In [21]:
public_and_private

,Country,Ano,Gastos Governamentais Totais,Gastros Privados Totais,Gastos Governamentais em Educacao Elementar e Secundaria,Gastos Privados em Educacao Elementar e Secundaria,Gastos Governamentais em Educacao Superior,Gastos Privados em Educacao Superior
0,OECD average,2005,4.3,---,3.3,---,1,---
1,Australia,2005,3.9,---,3.2,---,0.7,---
2,Austria,2005,---,---,---,---,---,---
3,Belgium,2005,5,---,3.9,---,1.1,---
4,Canada,2005,4.4,---,3.1,---,1.3,---
...,...,...,...,...,...,...,...,...
277,India,2020,---,---,---,---,---,---
278,Indonesia,2020,---,---,---,---,---,---
279,Russia,2020,---,---,---,---,---,---
280,Saudi Arabia,2020,---,---,---,---,---,---
281,South Africa,2020,6.2,---,5.3,---,0.9,---